



/* .thong_so{
    
} */
.title{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #32373d;
    margin-bottom: 16px;
}
ul{
    list-style-type: none;
}
.main-thong-so li{
    display: table;
    width: 100%;
    text-align: left;
    border: 1px solid #edeeef;
}
.main-thong-so li:nth-child(2n + 1) {
    background: #f8f9fa;
}
.main-thong-so{
    background: #ffffff;
    padding: 20px;
    border: 1px solid #cbd1d6;
    box-shadow: 0px 1px 4px rgb(10 10 10 / 15%);
    border-radius: 6px;
}
.properties{
    display: table-cell;
    font-family: "Roboto";
    font-size: 14px;
    color: #444b52;
    line-height: 20px;
    font-weight: 400;
    width: 20%;
    vertical-align: top;
    padding: 10px 16px;
    min-width: 140px;
}
.detail{
    display: table-cell;
    width: auto;
    vertical-align: top;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444b52;
    padding: 10px 16px;
}
/*  */
.main-san-pham{
    width: 100%;
    height: 700px;
    display: flex;
    margin: none;
    justify-content: center;
    align-items: center;

}

.thong_so{
    text-align: center;
    /* width: 100%; */
    max-width: 576px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card_img{
    
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    margin: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 370px;
    width: 20%;
    flex-direction: column;
}
.card_img img{
    width: 100%;
    object-fit: cover;
}

.oos span {
    /* width: 100px;
    height: 100px; */
    border-radius: 5px;
    color: #f5eeed;
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: 10px;
    /* right: 10px; */
    background: #fff;
    padding: 5px 15px;
    z-index: 1;
    border: 1px;
    background-color: #f23329;
}

.card_img .discount span {
    height: 35px;
    background: #f23329;
    text-align: center;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    border-radius: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 35px;
    font-weight: 600;
    left: 46px;
    top: 30px;
}

.button{
    border-radius: 10px;
}
.textMota{
    
}